<div class="text-center">
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= f.label :name %><br>
        <%= f.text_field :name, {class: "form-control"} %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= f.label :url, "URL" %><br>
        <%= f.text_field :url, {class: "form-control"} %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= f.label :category %><br>
       <%= f.select :category, [['Drinks','Drinks'],['Appetizers','Appetizers'],['Entrees','Entrees'],['Desserts','Desserts'],['Snacks','Snacks']], {}, {class: "form-control"} %>
      </div>
    </div><br>
    <div class="actions">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
