<div class="text-center">

<p id="notice"><%= notice %></p>

<h1>My Recipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><a href="<%= recipe.url %>"><%= recipe.name %></a></td>
        <td><%= recipe.category %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
